:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-size, 24px);
  height: var(--icon-size, 24px);
  color: inherit;
}

.ds-icon {
  display: flex;
  width: 100%;
  height: 100%;
}

.ds-icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
